<mat-toolbar color="primary">
  <span>{{accountName | uppercase}}</span>
  <span class="header-spacer"></span>
  <button mat-button routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </button>
  <button mat-button routerLink="/project">
    <mat-icon>real_estate_agent</mat-icon> Projects
  </button>
  <button mat-button routerLink="/reports">
    <mat-icon>assessment</mat-icon> Reports
  </button>
  <button mat-button routerLink="/user-management" *ngIf="isAdminAccess">
    <mat-icon>supervisor_account</mat-icon> User Management
  </button>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon> {{ user?.firstName + ' ' +user?.lastName | titlecase}}
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/settings" mat-menu-item *ngIf="isAdminAccess">
      <mat-icon>settings</mat-icon>Settings
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>
