<div class="timeline">
  <div class="timeline-header">
    <div class="name">Timeline</div>
    <button class="close-btn" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="timeline-body">
    <div class="timeline">
      <div class="container" [class.left]="i%2 === 0" [class.right]="i%2 !== 0"
        *ngFor="let timeline of wipTimelines; let i = index">
        <div class="content">
          <div class="c-item">
            <div class="c-item-icon" [ngClass]="{
                'apporved' : timeline?.action == 'Approved',
                'rejected' : timeline?.action == 'Rejected',
                'added' : timeline?.action == 'Added',
                'edited' : timeline?.action == 'Updated'
              }">
              <mat-icon>{{timeline?.icon}}</mat-icon>
            </div>
            <div class="c-item-header">
              {{timeline?.action}} by <strong>{{timeline?.createdBy}}</strong> on
              <strong>{{timeline?.createdAt | date:'medium'}}</strong>
            </div>
          </div>
          <div class="description" *ngIf="timeline?.description !==''" [innerHTML]="timeline?.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
