.report-container {
  padding: 1rem 2rem;

  .report-header-name {
    font-size: 28px;
    font-weight: 500;
    color: #949299;
    margin-bottom: 0.5rem;
  }

  .wip-report {
    padding: 1rem 0;

    &-header {
      .form-fields {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .report-header {
    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
    }
  }
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    text-align: center;
  }
}
