<app-header></app-header>
<div class="project">

  <div class="project-header">
    <div class="header-name">Projects</div>
    <form [formGroup]="projectSearchForm">
      <div class="actions">
        <div class="global-search">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input formControlName="search" matInput placeholder="Enter key word" autocomplete="off">
            <button *ngIf="projectSearchForm.controls['search'].value" matSuffix mat-icon-button aria-label="Clear"
              (click)="resetSearchValue()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="status">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="0">All</mat-option>
              <mat-option value="1">In Progress</mat-option>
              <mat-option value="2">On Hold</mat-option>
              <mat-option value="3">Completed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="isAdminAccess">
          <mat-icon>add</mat-icon>Create Project
        </button>
      </div>
    </form>
  </div>
  <div class="project-body">

    <div class="project-card-container">
      <div class="project-card" [ngClass]="{
          'in-progress': project?.status == 1, 
          'on-hold': project?.status == 2,
          'completed': project?.status == 3
        }" *ngFor="let project of projects" (dblclick)="onView(project)">
        <div class="project-card-header">
          <div class="project-name">
            {{project.name | titlecase}}
            <div class="project-no">{{project.poNumber | uppercase}}</div>
          </div>
          <div class="actions">
            <button mat-icon-button color="{{(project.pinned) ? 'primary': ''}}"
              (click)="pinProject(project.id, project.pinned)">
              <mat-icon>push_pin</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Project actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onView(project)">
                <mat-icon>visibility</mat-icon>
                <span>View Project</span>
              </button>
              <button mat-menu-item (click)="onEdit(project)" *ngIf="isAdminAccess">
                <mat-icon>edit</mat-icon>
                <span>Edit Project</span>
              </button>
              <button mat-menu-item (click)="onDelete(project)" *ngIf="isAdminAccess">
                <mat-icon>delete</mat-icon>
                <span>Delete Project</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="project-card-body">
          <div class="description">
            {{ (project.description.length > 80)? (project.description | slice: 0:80)+'..' : (project.description) }}
          </div>
          <div class="contractor">Main Contractor: <strong>{{project.contractor | titlecase}}</strong></div>
          <div class="status" [ngSwitch]="project.status">
            <div class="status-item in-progress" *ngSwitchCase="1">
              <mat-icon>pending</mat-icon>
              <span>In-Progress</span>
            </div>
            <div class="status-item on-hold" *ngSwitchCase="2">
              <mat-icon>remove_circle</mat-icon>
              <span>On-Hold</span>
            </div>
            <div class="status-item completed" *ngSwitchCase="3">
              <mat-icon>verified</mat-icon>
              <span>Completed</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="no-project" *ngIf="projects.length === 0">There is no project(s) found yet. Please create some project.
    </div>
  </div>
</div>
