<app-header></app-header>
<div class="user-management">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>User Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userForm">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input type="text" min="0" max="100" matInput formControlName="fullName" placeholder="Enter full name">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" min="0" max="100" matInput formControlName="username" placeholder="Enter username">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="text" matInput formControlName="password" placeholder="Enter password">
          </mat-form-field>
        </div>
        <div class="actions">
          <button type="button" (click)="onSubmit()" mat-raised-button color="accent" [disabled]="userForm.invalid">
            <mat-icon>add</mat-icon> Create New User
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="SlNo">
          <th mat-header-cell *matHeaderCellDef> Sl.No </th>
          <td mat-cell *matCellDef="let i = index"> {{ i+1 }}. </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> username</th>
          <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> password </th>
          <td mat-cell *matCellDef="let element"> {{element?.password}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">There is no user found yet.</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
